body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#background {
  background: linear-gradient(#FCBF49 ,#F77F00 ,#D62828, #3d348b);
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: column;
}

.navbar {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  background-color: #003049;
  color: #EAE2B7;
  flex-wrap: wrap;
}

.nav-element {
  margin: 0 1%
}

a:visited {
  color: #EAE2B7;
}

.nav-element:hover {
  color: #FCBF49;
}

.nav-element > a:hover {
  color: #FCBF49;
}

.nav-element > a {
  text-decoration: none;
}

#first-right {
  margin-left: auto;
}

.image-container img{
  width: 100%;
  height: 400px;
}

.info-container {
  display: flex;
  /* flex-wrap: wrap; */
  width: 100%;
}

.info-narrow {
  flex-grow: 1;
}

h2 {
  border-bottom: 2px solid #003049;
  padding: 10px;
}

.dark > h2 {
  border-bottom: 2px solid #EAE2B7;
}

.light > h2 {
  border-bottom: 2px solid #003049;
}

.section {
  padding: 1%;
}

.dark {
  background-color: #003049;
  color: #EAE2B7;
}

.light {
  background-color: #EAE2B7;
  color: #003049;
}

@media only screen and (max-width: 1000px) {
  .info-container {
    flex-wrap: wrap;
  }
}