body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.navbar {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  background-color: black;
  color: white;
}

.nav-element {
  margin: 0 1%
}

#register {
  margin-left: auto;
}

.image-container img{
  width: 100%;
  height: 400px;
}

.info-container {
  display: flex;
}

.full-row {
  width: 100%;
}

.section {
  padding: 10px;
}